@use '../../../../_globals/mixins.scss';

.button {
    padding: 1.3% 3.5%;
    border: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--green);
    color: var(--white);

    &:hover, &:active {
      background-color: var(--white);
      color: var(--green);
      border: 1px solid var(--green);
    }

    @include mixins.phone(){
      padding: 2.3% 3.5%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5.97%;
    }

  }