@import 'https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Didact+Gothic&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

:root {
    // primary colors
    --green: #2E6C4A;
    --light-green: #0C9D4E;
    --white: #FAFAFA;
    --black: #323232;

    //secondary colors
    --dark-grey: #6B6B6B;
    --grey: #D0D0D0;
    --light-grey: #F1F1F1;
    --hover-bg: #989898;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

h1 {
    font-size: 5rem; //80px
    font-weight: 600;
}
  
h2 {
    font-size: 2.5rem; //40px
}
  
h3 {
    font-size: 2.25rem; //36px
}
  
h4 {
    font-size: 1.5rem; //24px
}
  
p {
    font-size: 1.125rem; //18px
}
  
a {
    text-decoration: none;
}

button {
    border-radius: 10px;
}