button {
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--green);
    color: var(--white);
    border: none;

    &:hover, &:active {
      background-color: var(--white);
      color: var(--green);
      border: 1px solid var(--green);
    }
  }