@use '../../../_globals/mixins.scss';


.container {
    margin-right: 6.9%;
    margin-left: 6.9%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    color: var(--green);
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    height: auto;

    margin-bottom: 1.9%;

    @include mixins.phone() {
        margin-bottom: 2.9%;
    }
}

.headerOverride {
    white-space: nowrap;
    text-align: left;
    font-weight: 500;

    @include mixins.phone {
        font-size: 2.25rem;
    }

}

.volunteer {
    height: auto;
    display: flex;
    flex-direction: column;

}

.volunteer_top {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5.4%; //79
    margin-bottom: 2.2%;

    @include mixins.phone() {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 5.4%;
    }
}

.paragraph {
    margin-bottom: 1%;
    line-height: 24px;
}

.headerOverride2 {
    white-space: nowrap;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1.6%;
    line-height: 24px;
}



.volunteer_left {
    text-align: left;
    width: 52.9%;
    display: flex;
    flex-direction: column;

    @include mixins.phone() {
        width: 100%;
    }

}

.volunteer_right {
    object-fit: contain;
    border-radius: 15px;

    @include mixins.phone() {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: center;
        margin-right: 6.9%;
        margin-left: 6.9%;
        margin-top: 6.3%;
        margin-bottom: 7.9%;
    }
}

.img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.p1_volunteer {
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 1%;
}

.volunteer_bottom {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include mixins.phone() {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

// .button{
//     width: 29.5%;
//     height: 100%;
//     background-color: var(--green);
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 5px;
//     color: var(--white);
// }



@media (min-width: 760px) and (max-width: 1000px) {
    .volunteer_top {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 5.4%; //79
    }

    .volunteer_left {
        width: 100%;
        margin-bottom: 5.4%;

    }

    .volunteer_right {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: center;
        margin-right: 6.9%;
        margin-left: 6.9%;
        margin-top: 0.8%;
        margin-bottom: 2.22%;
    }
}