.container {
    margin-right: 6.9%;
    margin-left: 6.9%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2.2vw;
}

.top {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7vw;
}

.p_override {
    line-height: 150%;
}

.bottom {
    height: auto;
    display: flex;          
    gap: 2vw;              
}

.new, .used {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7vw;  
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start; 
}

.h4_override {
    color: var(--green);
}

.ul_override {
    line-height: 150%;
}
