// @use '../../_globals/mixins.scss';
// @use '../../_globals/globals.scss';

.events {
    padding: 0 12% 0 12%;
    .heading {
        display: flex;
        justify-content: space-between;

        padding: 4% 0 4% 0;
    
        h1{
            color: var(--green);
        }
    
        button {
            color: var(--white);
            background-color: var(--green);
            border: 1px solid var(--green);
    
            padding: 0.75% 8% 0.75% 8%;
            cursor: pointer;
        }
    }

    .summary {
        h5 {
            color: var(--green);
            padding: 1% 0 1% 0;
        }

        .summarycontent {
            display: flex;
            align-items: top;
            gap: 5%;
            padding: 3% 0 3% 0;

            .parent {
                width: 50vw;
                flex: 2;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .paragraphs{
                flex: 3;
                p {
                    padding: 1% 0 1% 0;
                }
            }
        }
    }

    .quote {
        color: var(--white);
        background-color: var(--green);
        text-align: center;
        padding: 5% 15% 5% 15%;
        margin: 5% -10% 5% -10%;
    }

}

