.events {

    padding: 0 12% 0 12%;

    .heading {
        display: flex;
        justify-content: space-between;

        padding: 4% 0 4% 0;
    
        h1{
            color: var(--green);
            font-weight: 500;
        }
    
        button {
            color: var(--white);
            background-color: var(--green);
            border: 1px solid var(--green);
    
            padding: 0.75% 8% 0.75% 8%;
            cursor: pointer;
            font-weight: 300;
        }
    }

    .summary {

        .summaryhead {
            display: flex;
            justify-content: space-between;
            padding-bottom: 4%;

            h2 {
                font-weight: 500;
            }

            h3 {
                color: var(--green);
                font-weight: 400;
            }
        }
        
        .summarycontent {
            display: flex;
            gap: 5%;

            .parent {
                width: 50vw;
                flex: 2;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            p {
                padding: 1% 0 1% 0;
                flex: 3;
                font-weight: 300;
            }
        }

        
    }

    .quote {
        color: var(--white);
        background-color: var(--green);
        text-align: center;
        padding: 8% 18% 8% 18%;
        margin: 5% -16% 5% -16%;

        h3 {
            font-weight: 300;
        }
    }

    .recapgroup {

        display: flex;
        gap: 5%;
        align-items:last baseline;

        .recapcontent {
            flex: 2;
            h4 {
                color: var(--green);
                padding: 1% 0 1% 0;
                font-weight: 300;
            }
    
            h2 {
                padding-bottom: 3%;
                font-weight: 500;
            }
    
            .recap {
                display: flex;
                align-items: top;
                gap: 5%;
                padding: 3% 0 3% 0;
    
                .paragraphs{
                    p {
                        padding: 1.5% 0 1.5% 0;
                        font-weight: 300;
                    }
                }
            }

        }

        .parent {

            flex: 1;
            img {
                width: 100%;
                height: auto;
                padding: 2%;
            }
        }

    }

}

