@use "../../_globals/mixins.scss";

.events {

    padding: var(--page-padding-top-bottom-only);

    .heading {
        display: flex;
        justify-content: space-between;

        padding-left: 7%; //to match universal padding

        h1 {
            color: var(--green);
            font-weight: 500;

            @include mixins.phone {
                font-size: 3rem;
            }
        }


    }

    .quote {
        color: var(--white);
        background-color: var(--green);
        text-align: center;
        padding: var(--page-padding);
        // margin: 5% -15.75% 5% -15.75%;

        h3 {
            font-weight: 300;
        }
    }

    .impact {
        color: var(--white);
        background-color: var(--green);
        text-align: center;
        padding: var(--page-padding);
        // margin: 5% -15.75% 5% -15.75%;

        h3 {
            font-weight: 600;
            padding: 2%;
        }

        .impactnumbers {
            display: flex;
            justify-content: space-between;
            align-items: last baseline;
        }
    }

    .fighthunger {
        text-align: center;
        padding: 10% 0;

        h3 {
            font-weight: 600;
        }

        .desc {
            color: var(--green);
        }

    }

    .sponsors {
        text-align: center;
        padding: var(--page-padding-top-bottom-only);
        // margin: 5% -15.75% 5% -15.75%;
    }

}

@include mixins.phone {
    .events {
        // padding: 0 5% 0 5%;

        .quote {
            // margin: 5% -5.5% 5% -5.5%;

            h3 {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5;
            }
        }

        .impact {
            // margin: 5% -5.5% 5% -5.5%;

            h3 {
                font-size: 2rem;
            }

            .impactnumbers {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                padding-bottom: 8%;
            }
        }

        .fighthunger {
            h3 {
                font-size: 1.6rem;
                line-height: 1.7;
            }
        }

        .sponsors {
            h2 {
                // padding: 2% 7% 14% 7%;
                font-size: 2.2rem;
            }

            // margin: 5% -5.5% 5% -5.5%
        }
    }

}