.dp_hero {
  display: flex;
  padding: 64px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: var(--white, #fafafa);
}

.provide_container {
  display: flex;
  width: 1242px;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  color: var(--black);

  h2 {
    align-self: stretch;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.hero_data_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--green);
}

.data_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  flex: 1 0 0;
}

.card_title {
  align-self: stretch;
  text-align: center;
  /* h1 */
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.card_subtitle {
  align-self: stretch;
  color: #323232;
  text-align: center;
  /* a or p */
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 150% */
}

.card_description {
  align-self: stretch;
  color: var(--black, #323232);
  text-align: center;
  /* p */
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}
