@import "../../_globals/mixins.scss";

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 64.3%;
  margin: 0;
  overflow: hidden;
}