@use "../../../_globals/mixins.scss";

.sponsorlist {
    display: flex;
    gap: 4%;
    padding: 4% 0 4% 0;
    overflow-x: auto;
    
    img {
        box-shadow: 0 0 30px var(--dark-grey);
        border-radius: 15.5px;
        max-height: 200px;
    }

}

@include mixins.phone {
    .sponsorlist {
        img {
            box-shadow: 0 0 15px var(--dark-grey);
        }
    }
}

