@use "../../../_globals/mixins.scss";

.summary {
    padding: var(--page-padding);

    .summaryhead {
        padding-bottom: 4%;

        h3 {
            font-weight: 600;
        }

        h4 {
            color: var(--green);
            font-weight: 500;
            padding-bottom: 2%;
        }
    }

    .summarycontent {
        display: flex;
        gap: 5%;

        .parent {
            width: 50%;
            flex: 2;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            padding: 1% 0 1% 0;
            flex: 3;
            font-weight: 300;
            line-height: 1.6;
        }
    }
}

@include mixins.phone {
    .summary {
        .summaryhead {
            h4 {
                font-size: 1rem;
            }

            h3 {
                font-size: 1.5rem;
            }
        }

        .summarycontent {
            flex-direction: column;

            .parent {
                width: 100%;
            }

            p {
                font-size: 1rem;
                padding: 5% 0 10% 0;
            }
        }
    }
}

@include mixins.tablet {
    .summary {
        .summarycontent {
            flex-direction: column;

            .parent {
                width: 100%;
            }

            p {
                padding: 5% 0 5% 0;
            }
        }
    }
}