@use '../../_globals/mixins.scss';

.element{
    margin-bottom: 8.1%;
}

.img{
    width: 100%;
    height: auto;
    margin-bottom: 5.1%;

    @include mixins.phone(){
        margin-bottom: 5.97%;
        margin-top: 5.97%;
        display: none;
    }
}

.mobile_img{
    width: 100%;
    height: auto;
    display:none;

    @include mixins.phone(){
        margin-bottom: 5.97%;
        margin-top: 5.97%;
        display: block;
    }
}