@import "../../_globals/mixins.scss";

.programs {
  width: 100%;
  padding: 5% 10%; 
  }

  .program {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: var(--white);
    padding: 10%;
    margin: 5% 0;
    border-radius: 3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    .text {
        color: var(--green);
        width: 50%;  
        text-align: left;
        display: flex;
        flex-direction: column;
        //justify-content: left; 
      }


    .image {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

       // width: 100%;
        //max-width: 100%;
        //border-radius: 3%;
        //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      
    }


  }
