@use "../../_globals/mixins.scss";

.statContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.statGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 800px;
    width: 100%;

    @include mixins.phone {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include mixins.phone {
        flex-direction: column;
    }
}

.statBox {
    background-color: var(--light-gray);
    text-align: left;
    font-weight: bold;
    border-radius: 5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 3%;
    width: 29%;
    margin: 2%;

    @include mixins.phone {
        width: 45%;
    }

    @include mixins.phone {
        height: auto;
        width: 80%;
    }
}

.statIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 5%;
}

.statContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statValue {
    font-size: 3rem;
    color: var(--green);
    font-weight: 500;
    margin-bottom: 2%;

    @include mixins.tablet {
        font-size: 1.5rem;
    }
}

.statLabel {
    font-size: 1.25rem;
    color: var(--dark-grey);
    font-weight: 100;

    @include mixins.tablet {
        font-size: 1rem;
    }
}