@import "../../../_globals/mixins.scss";

.dm_hero {
  display: flex;
  padding: var(--page-padding);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--white);

  @include sm-desktop {
    padding: 5.63% 5.5%;
    gap: 32px;
  }

  @include tablet {
    padding: 5.63% 4%;
  }

  @include phone {
    padding: 5.63% 3%;
  }

  @include sm-phone {
    padding: 5.63% 2%;
  }
}

.dm_content_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  @include sm-desktop {
    gap: 32px;
  }

  @include tablet {
    gap: 28px;
  }

  @include phone {
    flex-direction: column;
    gap: 24px;
  }

  @include sm-phone {
    gap: 20px;
  }
}

.dm_text_container {
  display: flex;
  width: 60%;
  // max-width: 670px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: left;

  // @include tablet {
  //   padding: 0% 20%;
  //   // max-width: 600px;
  // }

  @include phone {
    width: 100%;
    gap: 28px;
  }

  @include sm-phone {
    gap: 24px;
  }
}

.responsiveImage {
  // padding-left: 10%;
  width: 100%;
  height: auto;
  border-radius: 20px;
  max-width: 475.905px;

  @include sm-desktop {
    max-width: 450px;
  }

  @include tablet {
    width: 100%;
  }

  @include phone {
    width: 100%;
    // max-width: 350px;
  }

  @include sm-phone {
    width: 100%;
  }
}

.dm_text_container h2 {
  transform: rotate(-0.251deg);
  align-self: stretch;
  color: var(--black);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include sm-desktop {
    text-align: left;
    font-size: 2.2rem;
  }

  @include tablet {
    font-size: 2rem;
    text-align: left;
  }

  @include phone {
    font-size: 1.8rem;
  }

  @include sm-phone {
    font-size: 1.6rem;
  }
}

.dm_text_container p {
  color: var(--black);
  transform: rotate(-0.251deg);
  align-self: stretch;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;

  @include sm-desktop {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 1.15rem;
  }

  @include phone {
    font-size: 1rem;
  }

  @include sm-phone {
    font-size: 0.95rem;
  }
}

.dm_text_container span {
  color: var(--black);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;

  @include sm-desktop {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 1.15rem;
  }

  @include phone {
    font-size: 1rem;
  }

  @include sm-phone {
    font-size: 0.95rem;
  }
}