
//"Header" section
.imageSlides{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.slider{
    width: 100%;
    height: auto;
}

.sliderImage{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}

//Our Mission Section
// .ourMission{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }

.ourMissionImages{
    display: flex;
    align-self: center;
    width: 86%;
    height: 25%;
    background-color: purple;
}

.firstImage{
    width: 33%;
}

.secondImage{
    width: 33%;
    margin-left: 1.7%;
    margin-right: 1.7%;
}

.thirdImage{
    width: 33%;
}