@import '../../_globals/mixins.scss';
//using @include was giving an error

// "Header" section
.imageSlides {
    position: relative;
    // height: 22%;
    overflow: hidden;
    padding-bottom: 50%;
    width: auto;

    .slidesTitle {
        color: var(--white);
        position: absolute;
        bottom: 5%;
        left: 5%;

        h1 {
            font-size: 5rem;
            font-weight: 600;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 300;
        }
    }

    .imageSlides>div>span {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .imageSlides img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .headerImageContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        img {
            object-fit: cover;
        }
    }

    .activeImage {
        opacity: 1;
        animation-name: fadeIn;
    }

    .inactiveImage {
        opacity: 0;
        animation-name: fadeOut;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}




// Buttons section
.threeButtons {
    //used this to make the margins between header and out mission
    padding: var(--page-padding);
    height: 9%;
    width: auto;

    @include phone {
        width: 100%;
    }

    .buttonContent {
        //the components of buttons
        // width: 86.1%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 35%;
        margin: auto; //centers div

        @include phone {
            flex-direction: column;
            align-items: center;
        }
    }
}




// Our Mission Section
.whoWeAre {
    //holds all content of our mission
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--page-padding-top-bottom-only);
    height: 22%;
    width: auto;

    h1 {
        width: 87%;
        margin-bottom: 2.2%;
        color: var(--green);
        // font-size: 5rem; //make globals
        // font-weight: 500;

        @include phone {
            font-size: 2rem;
        }
    }
}



.whoWeAreComponents {
    width: 87%;
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6%;
    gap: 2%;

    @include phone {
        flex-direction: column;
        justify-content: center;
    }
}

.whoWeAreText {
    display: flex;
    flex-direction: column;
    width: 47.77%;
    color: var(--black);
    margin-right: 4.68%;

    @include phone {
        width: 100%;
        margin-right: 0;
    }

    h2 {
        font-weight: 548;
        margin-bottom: 3%;

        @include phone {
            font-size: 1.5rem;
            margin-bottom: 1%;
        }
    }

    p {
        font-size: 1.25rem; //make globals?
        font-weight: 300;
        line-height: 1.8;

        @include phone {
            font-size: 1rem;
            line-height: 1.7;
        }
    }

}

.text1 {
    margin-bottom: 9%;
}

.whoWeAreVideo {
    width: 80%;
    display: flex;
    justify-content: center;

    @include phone {
        width: 100%;
        height: auto;
    }
}


//Programs section
//needs to account for if more programs are added and how it will wrap
//make hover effect like in handoff presentation
.programs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--page-padding-top-bottom-only);
    height: 26.1%;
    width: auto;

    h1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2.2%;
        color: var(--green);
        font-size: 5rem; //make globals?
        font-weight: 500;
        width: 87%;

        @include phone {
            font-size: 2rem;
        }
    }
}

.programsComponents {
    width: 87%;
}

.programsComponentsBox {
    display: flex;
    justify-content: space-between;
    max-height: 50%;

    @include phone {
        flex-direction: column;
    }
}

//our stories section
.ourStories {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 21.03%;
    width: auto;
    padding: var(--page-padding-top-bottom-only);

    h1 {
        color: var(--green);
        width: 87%;
        font-size: 5rem; //make globals
        font-weight: 500;
        margin-bottom: 2.2%;
        // margin-top: 3%;

        @include phone {
            font-size: 2rem;
        }
    }
}

.storiesComponents {
    max-width: 87%;
    display: flex;
    align-items: center;
    // margin-bottom: 2%;
}