
.imageSlides{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.slider{
    width: 100%;
    height: auto;
}

.sliderImage{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}