
//test
.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 27.5%;
    height: 93.7%;
    background-color: pink;
  }

  .buttonImage{
    margin: auto;
    width: 23.8%;
    height: auto;
  }
  
  .button {
    padding-top: 7.9%;
    margin: auto;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    align-content: center;
  }