
//test
.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 27.5%;
    height: 93.7%;
  }

  .buttonImage{
    margin: auto;
    width: 23.8%;
    height: auto;
  }
  
  .button {
    margin-top: 7.9%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: var(--green);
    color: var(--white);
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.125rem; //how to use globals fonts
  }
