@use '../../_globals/mixins.scss';


.story {
    flex: 0 0 100%; /* Each story takes 100% width */
    display: flex; 
    align-content: center; /* Vertically center content */
    justify-content: space-between;
}

.storyText {
    flex: 1; /* Text takes available space */
    padding-right: 6%;
    width: 32%;
    padding-top: 1.4%;
    font-weight: 280;
    color: var(--black);
}

.storyText h2{
    font-size: 2.48rem;
    padding-bottom: 5%;
    font-weight: 580;
}

.storyText p{
    font-size: 1.25rem;
    line-height: 1.85rem;
}

.storyImageContainer{
    width: 57.75%;
    display: flex;
    border-radius: 2%;
}

.storyImage {
    flex: 1; /* Image takes available space */
    text-align: center; /* Center the image */
    object-fit: cover;
    border-radius: 2%;
}
