.storySection {
    width: 100%; /* Or your desired width */
    overflow: hidden; /* Hide content that overflows container */
    position: relative; /* Needed for button positioning */
}

.storyContainer {
    display: flex; /* Arrange stories horizontally */
    transition: transform 0.5s ease-in-out; /* Smooth scrolling */
    /* Calculate width dynamically in JS based on number of stories */
}

.story {
    flex: 0 0 100%; /* Each story takes 100% width */
    display: flex; /* Image and text side-by-side */
    align-items: center; /* Vertically center content */
    padding: 20px;
    width: 86%;
    background-color: pink;
}

.storyText {
    flex: 1; /* Text takes available space */
    padding-right: 6%;
    // width: 32.2%;
    height: 100%;
    font-weight: 280;
}

.storyImage {
    flex: 1; /* Image takes available space */
    text-align: center; /* Center the image */
    width: 56.3%;
    height: auto;
}

.nextButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}