@use "../../_globals/mixins.scss";

/* General styles for the contact cards container */
.contactcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Responsive grid
    gap: 2rem; // Space between cards
    width: 100%;
    padding: var(--page-padding);
    justify-content: center;
}

/* Individual card styles */
.card {
    display: flex;
    flex-direction: column;
    background: white;
    gap: 2%;

    a {
        text-decoration: none;
        color: var(--green);
    }
}

/* Ensures consistent image sizing */
.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}

/* Title for each contact card */
.cardtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2%;
}

/* Styling for sections (location, phone, email) */
.section {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 2rem;
}

/* Flex adjustments for email and location alignment */
.alignEmail {
    align-items: flex-start;
}

.alignLocation {
    align-items: flex-start;
}

/* Icon styles */
.icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
}

/* Responsive Design */
@include mixins.phone {
    .contactcards {
        grid-template-columns: 1fr; // Single column for mobile
    }

    .card {
        width: 100%;
    }

    .section {
        padding-bottom: 5%;
    }
}