@import "../../_globals/mixins.scss";

/* Container for all contact cards (3 columns layout) */
.contactcards {
    display: flex; 
    justify-content: space-between; 
    gap: 2%; 
    width: 100%; 
    flex-wrap: wrap; 
}

/* Each card takes up 30% of the container's width on larger screens */
.contactcards > * {
    flex: 1 1 30%; 
    box-sizing: border-box; 
}

@include phone {
    .contactcards {
        flex-direction: column; 
        gap: 5%; 
    }

    .contactcards > * {
        flex: 1 1 100%; 
    }
}


/* Styling for the header of the contact section */
.Title {
    color: var(--green);
    padding-left: 7%;
    padding-bottom: 4%;
    padding-top: 4.5%;
}






// The feedback text on the left side of the contact form
.feedback {
    display: flex;
    align-self: center;
    align-items: flex-start;
    align-self: stretch;
    width: 100%; 
    padding-left: 7%;
    padding-right: 7%;
    gap: 4%; 
    box-sizing: border-box; 
}


.textinfo{
    flex: 0 0 30%; /* Set textinfo to take 30% width */
    font-size: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4%;
    align-self: stretch;
}

.textinfo p{
    font-size: 1rem; 
    word-wrap: break-word;
    line-height: 1.875rem; // Converted from 30px
}

.textinfo a{
    color: var(--green);
}





/* Feedback Form Styles */
.contactform {
    flex: 0 0 70%; 
    display: flex;
    flex-direction: column;
    height: 45.71%; //566px
    margin: auto;
    width: 100%;
}

/* Input group styles */
.inputgroup {
    display: flex;
    gap: 1%;
    margin-bottom: 2%;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
}


/* Styles for input fields inside .inputgroup */
.inputgroup input {
    flex: 1;
    padding: 2% 3.9%;
    background-color: var(--light-grey);
    border: none;
    border-radius: 10px;
    width: 100%;
    min-height: 9%; 
    box-sizing: border-box; 

}

.textarea {
    width: 100%;
    min-height: 40vh;
    height: auto;
    padding: 4% 3.9%;
    background-color: var(--light-grey);
    border: none;
    border-radius: 10px;
    margin-bottom: 6%;
    resize: none;
    box-sizing: border-box;
}


    
.button {
    width: 22.8%; 
    height: 8vh; 
    padding: 1.3% 3.5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--light-grey);

    &:hover, &:active {
    background-color: var(--light-green);
    color: var(--white);
    }
}
    

@include phone {
    .Title h1{
        font-size: 2.25rem;
    }

    .contactImage {
        display: none;  
    }


    .feedback {
        flex-direction: column; 
        padding-left: 0 5%;

    }

    .textinfo {
        flex: 0 0 100%;
        font-size: 1.5rem; 
    }
    
    .textinfo h3 {
        font-size: 1.5rem;
    }

    .contactform {
        flex: 0 0 100%; 
    }



    /* Stack the input fields vertically for smaller screens */
    .inputgroup { 
        flex-direction: column; 
        padding-top: 10%;
        gap: 5vh; //30px
        
    }

    .inputgroup input {
        width: 100%; 
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /* Add spacing between textarea and button */
    .textarea {
        width: 100%;
        height: 25vh;
        resize: none;
        margin-top: 10%;
        margin-bottom: 10%; 
        
        
    }

    /* Ensure the button takes up full width on smaller screens */
    .button {
        width: 100% ; 
        height: 7vh; 
        padding: 0;
        border-radius: 10px;
        box-sizing: border-box;
    }
}

    

