.container{
    margin-right: 6.9%;
    margin-left: 6.9%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}
.title{
    margin-bottom: 2.2%;
}

.h3_override{
    color: var(--green);
    margin-bottom: 0.83%;
}

.p_override{
    line-height: 1.5rem;
}

.content{
    display: flex;
    flex-direction: column;
}

.text{
    margin-bottom: 3%;
}